
{% extends 'base.html.twig' %}


{% block body %}
    <div class="container">
        <h1>Witaj na Twojej Stronie</h1>
        <p>To jest strona główna Twojego projektu Symfony.</p>

        <div class="row mt-5">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Zaloguj się</h5>
                        <p class="card-text">Zaloguj się, aby uzyskać dostęp do pełnych zasobów.</p>
                        <a href="{{ path('app_login') }}" class="btn btn-primary">Zaloguj się</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Zarejestruj się</h5>
                        <p class="card-text">Utwórz nowe konto, jeśli nie masz jeszcze konta.</p>
                        <a href="{{ path('app_register') }}" class="btn btn-success">Zarejestruj się</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
